<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a class="active" href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="error">
      <div class="error_text">
        <h1>Oops! We can&apos;t find that page.</h1>
        <p>
          The link you followed may be broken, or the page may have been
          removed.
        </p>
        <p>Go back to <a href="/">homepage</a></p>
      </div>
      <div class="classes.image">
        <image
          src="https://raw.githubusercontent.com/bilal-23/neuro-shop/master/public/assets/404.png"
          alt="error"
          width="{400}"
          height="{400}"
        />
      </div>
    </ma>
  </body>
</html>
